<div style="display: flex; flex-direction: column; align-items: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <h1 style="color:brown; font-size: 40px;">Oh snap!</h1>
<div style = "width:60%; height:30%; overflow: hidden; border-radius: 50%; box-shadow: 5px 5px 15px grey;">
<img src = /images/error.jpg style="width:100%; height:80%; object-fit:cover;">
</div>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>