<link rel='stylesheet' href='/stylesheets/footer.css' />
<footer>
    <div></div>
    <container class="info_container">
    <container class="sns_container">
        <span class="sns_icon"><a href="https://github.com/DoHyunDaniel/personal_website"><img
                    src="images/favicons/github.svg"></a></span>
    </container>
    <span style="font-weight:700;">Author</span><span style="font-size:14px;">DoHyunDaniel</span><br>
    <span style="font-weight:700;">Email</span><span style="font-size:14px;">kdhdaniel0506@gmail.com</span><br>
    <span>Copyright 2023, DoHyunDaniel, All Rights Reserved.</span>
</container>
<img src="images/logo_transparent.png" style="width:300px;margin-top:40px;">
</footer>