/*로그인 창 css*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.content{
    margin: auto;
    padding: 15px;
    max-width: 800px;
    text-align: center;
  }
  .dpx{
    display:flex;
    align-items:center;
    justify-content:space-around;
  }
  h1{
    font-size:28px;
    line-height:28px;
    margin-bottom:15px;
  }
  label{
    display:block;
    line-height:40px;
  }
  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #333535;
  }
  .option-input:checked::before {
    width: 40px;
    height: 40px;
    display:flex;
    content: "\f00c";
    font-size: 25px;
    font-weight:bold;
    position: absolute;
    align-items:center;
    justify-content:center;
    font-family:'Font Awesome 5 Free';
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #9faab7;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }
  
  @keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }

  .modify_buttons {
    align-self: center;
    justify-self: end;
    margin:10px 10px;
  }
  
  /* Button Effect*/
  
  .btn {
    width: 130px;
    margin: 0.6rem;
    background-color: #252830;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    height: 40px;
  }
  
  .btn-marquee {
    font-weight: 400;
    border: none;
    overflow: hidden;
    transition: 0.3s;
  }
  .btn-marquee:hover {
    transform: scale(1.1);
  }
  .btn-marquee span {
    display: block;
    padding: 0 20px;
    -webkit-animation: move-left 2s linear infinite;
    animation: move-left 2s linear infinite;
  }
  .btn-marquee span::after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  @-webkit-keyframes move-left {
    to {
      transform: translateX(-150%);
    }
  }
  @keyframes move-left {
    to {
      transform: translateX(-150%);
    }
  }

  .modify_buttons{
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px; /* 버튼 내부 여백 설정 */
    background-color: #252830; /* 배경색 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 20px; /* 모서리 둥글게 설정 */
    cursor: pointer; /* 커서 스타일 변경 */
}

.modify_buttons:hover {
    animation: shake 0.3s linear infinite both;
    background-color: #565a69; /* 호버 상태에서 배경색 변경 */
  }
  
  @keyframes shake {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
  

  .index_btn_title{
    font-size: 16px;
  }

  .index_btn {
    width: 60px;
    margin: 0.6rem;
    background-color: #252830;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    height: 40px;
    text-align: center;
  }
  
  .index_btn-marquee {
    font-weight: 400;
    border: none;
    overflow: hidden;
    transition: 0.3s;
  }
  .index_btn-marquee:hover {
    transform: scale(1.1);
  }
  .index_btn-marquee span {
    font-size: 16px;
    display: block;
    padding: 0 10px;
    -webkit-animation: move-left 2s linear infinite;
    animation: move-left 2s linear infinite;
  }
  .index_btn-marquee span::after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  @-webkit-keyframes move-left {
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes move-left {
    to {
      transform: translateX(-100%);
    }
  }

  
#footer_button_1st {
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px; /* 버튼 내부 여백 설정 */
  margin: 20px;
  background-color: #444857; /* 배경색 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 20px; /* 모서리 둥글게 설정 */
  cursor: pointer; /* 커서 스타일 변경 */
}

#footer_button_1st:hover {
  animation: shake 0.3s linear infinite both;
  background-color: #545865; /* 호버 상태에서 배경색 변경 */
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

