

/*로딩 이미지*/
#load_div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 1;
  background: black;
  z-index: 9999;
  text-align: center;
}
#load_div > img {
  width: 10%;
  height: auto;
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 10000;
}

/* 최상단 바 */
.scrollable-div {
  display: flex;
  align-items: center;
  text-align: right;
  overflow: hidden; /* 내용을 숨기기 위해 overflow 속성을 hidden으로 설정합니다. */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정합니다. */
}
.scrolling-text {
  width: 100%;
  animation: scrolling 10s linear infinite;
  display: inline-block;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}

#header_nav {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 13fr 0.9fr;
  align-content: center;
  justify-content: center;
  gap: 12px;
  padding: 0 20px;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  color: #f9f9f9;
  background: #252830;
}

#header_nav span {
  color: #f9f9f9;
  font-size: 22px;
}

#header_nav div {
  display: flex;
  gap: 8px;
}

nav {
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  background: #2b2836;
}

.login_div {
  display: flex;
}

/*헤더 디자인*/
a{
  color:#252830;
}
.slider {
  width: 100%;
  height: 100vh;
}
.slider .items-group {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider .items-group .item {
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: 0.5s;
  visibility: hidden;
  position: relative;
  padding: 50px 20px;
  position: absolute;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.slider .items-group .item:hover .bg {
  opacity: 0.2;
}
.slider .items-group .item:hover .block {
  box-shadow: 0px 0px 50px #333;
}
.slider .items-group .item.active {
  opacity: 1;
  visibility: visible;
}
.slider .items-group .item .bg {
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
  transform: scale(1.03);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.slider .items-group .item .blur {
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  filter: blur(20px);
  position: absolute;
  transform: scale(1.03);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.slider .items-group .item .block {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  transition: box-shadow 0.5s;
  max-width: 300px;
  overflow: hidden;
  max-height: 450px;
  border-radius: 10px;
  transform: scale(1.03);
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: none;
}
.slider .items-group .item .block .circleLight {
  top: 0px;
  left: 0px;
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.5s;
  position: absolute;
  border-radius: 10px;
  background: radial-gradient(circle at 80px 40px, #fff, transparent);
}
.slider .items-group .item .block .text {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
}
.slider .items-group .item .block h2 {
  font-family: "Oswald", sans-serif;
  font-size: 130px;
  margin-bottom: 0px;
}
.slider .items-group .item .block p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.slider .items-group .item .block:hover {
  box-shadow: 0px 0px 70px #111;
}
.slider .items-group .item .block:hover .circleLight {
  opacity: 0.4;
}
.slider .navigations {
  bottom: 0px;
  width: 100%;
  position: absolute;
}
.slider .navigations .dots {
  height: 20px;
  padding: 10px 0px;
  text-align: center;
}
.slider .navigations .dots li {
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: 0.3s;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.slider .navigations .dots li + li {
  margin-left: 10px;
}
.slider .navigations .dots li:hover {
  filter: blur(2px);
}
.slider .navigations .dots li.active {
  width: 15px;
  height: 15px;
}
.slider .navigations .dots li.active:hover {
  filter: blur(0px);
}


/* 
#header_grid_container {
  display: grid;
  grid-template-rows: auto auto;
}

.title {
  font-family: "Jua", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  position: relative;

}

#title {
  align-self: end;
}

#title_small {
  font-family: "Sunflower", sans-serif;
  font-weight: 600;
  text-align: right;
  display: block;
  opacity: 0;
  animation: reveal 0.5s forwards var(--d);
  color: #e5e5e6;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  justify-self: end;
  margin-top:20px;
  margin-bottom: 0px;
}
@keyframes reveal {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
a {
  text-decoration: none;
  color: black;
}

#title h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-family: "Titan One", cursive;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

#title h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
#title h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
#title h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
#title h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
#title h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
#title h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
#title h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
#title h1 span:nth-child(9) {
  animation-delay: 0.8s;
}
#title h1 span:nth-child(10) {
  animation-delay: 0.9s;
}
#title h1 span:nth-child(11) {
  animation-delay: 1.0s;
}
#title h1 span:nth-child(12) {
  animation-delay: 1.1s;
}
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

header {
  width: 100%;
  height: 310px;
  margin: 0;
  padding: 0 20px;
  font-weight: 400;
  background: linear-gradient(-45deg,  #f8e9a1, #f76c6c, #a8d0e6, #374785,#243052);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#header_container {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  width: 100%;
  height: 100%;
  justify-items: center;


}
 */
