html {
  width: 100%;
  height: 100%;
}
button {
  font-family: "Noto Sans Korean", "Noto Sans", sans-serif;
  color: rgb(238, 244, 227);
  font-weight: 700;
}
body {
  font-family: "Noto Sans Korean", "Noto Sans", sans-serif;
  background-color: #010101;
  background-size: cover; /* 이미지가 화면에 꽉 차도록 조절 */
  background-repeat: no-repeat; /* 이미지 반복 없음 */
  width: 100%;
  margin: 0;
  height: 100%;
  color: rgb(238, 244, 227);
}

#body_layout_container {
  display: flex;
}

.body_container_right {
  margin-right: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}

#footer_1st {
  text-align: right;
}

#diary_contents {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.4rem;
}
ul li {
  font-family: "Noto Sans Korean", "Noto Sans", sans-serif;
  font-size: 14px;
  width: 150px;
  margin-bottom: 10px;
  color: rgb(238, 244, 227);
}

/* 드롭다운 내용 초기 숨김 */
.dropdown-content {
  display: block;
}

/* 드롭다운 열기 스타일 */
.dropdown-open .dropdown-content {
  display: none;
}
#buttons_container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
