<head>
    <link rel='stylesheet' href='/stylesheets/login/modal.css' />
</head>


<div id="modal-container" style="z-index: 900;">
    <div class="modal-background">
        <div class="login-page">
            <div class="form">
                <form action="/users/register_process" class="register-form" method="post" >
                    <input name="username" type="text" placeholder="name" autocomplete="on" />
                    <input name="password" type="password" placeholder="password" autocomplete="on"/>
                    <input name="email" type="text" placeholder="email address" autocomplete="on" />
                    <button id="createAccount">create</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                </form>
                <form action="/users/login_process" class="login-form" method="post">
                    <input name="username" type="text" placeholder="username"  autocomplete="on"/>
                    <input name="password" type="password" placeholder="password" autocomplete="on" />
                    <button id="login">login</button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="content" style="display: none;">
    <h1>Modal Animations</h1>
    <div class="buttons">
        <div id="one" class="button">Unfolding</div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/modal.js"></script>